:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: .1;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(218, 115, 19, 0.87);
  background-color: #242020;
}

h1 {
  align-items: center;

}

